<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= user %></h1>
  <p><a href="/send">Send Message</a></p>
  <p><a href="/messages">View Messages</a></p>
  <p><a href="/commands">Run Commands</a></p>
</body>
</html>
